<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <span class="edit" >
          <button
          *ngIf="c"
          nbButton
          (click)="openModalTop()"
          >Tambah</button>
        </span>
        <!-- <span class="edit" >
          <button
          nbButton
          (click)="rerender()"
          >Rerender</button>
        </span> -->
        <br /><br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Kode Top</th>
              <th>Top</th>
              <th>Jumlah Top</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody *ngIf="tops?.length != 0">
              <tr *ngFor="let top of tops; let i = index">
                  <td>{{ top.fc_kdtop }}</td>
                  <td>{{ top.fv_nmtop }}</td>
                  <td>{{ top.fn_jumlah }}</td>
                  <td >
                    <span class="edit" >
                      <button *ngIf="u" (click)="editTop(top.fc_kdtop)" title="" data-toggle="modal" data-target="#quick-view-modal" nbButton status="success" size="small">Edit</button>
                    </span>
                    <span class="delete">
                      <button *ngIf="d" (click)="DeleteTop(top.fc_kdtop)" type="button" nbButton status="danger" size="small">Delete</button>
                    </span>
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="tops?.length == 0">
            <tr>
              <td colspan="4" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="isPopup"  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 57vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....."
   style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Input Top</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					

              <div class="col-md-12">
              <div class="row show-grid">
              <div class="col-md-6">
              <div class="form-control-group">
                <label class="label" for="inputKodeTop">Kode Top</label>
                <input type="text" nbInput fullWidth id="inputKodeTop" placeholder="Kode Top" [(ngModel)]="KodeTop" [value]="KodeTop">
              </div>

              <div class="form-control-group">
                <label class="label" for="inputTop">Top</label>
                <input type="text" nbInput fullWidth id="inputTop" placeholder="Top" [(ngModel)]="fv_nmtop" >
              </div>
              <div class="form-control-group">
                <button nbButton
                    type="button"
                    (click)="simpan()"
                    status="success"
                    size="large"
                    [nbSpinner]="simpanLoading"
                    nbSpinnerStatus="danger"
                        >
                  Simpan
                  
                </button>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputJumlahTop">Jumlah Top</label>
                <input type="text" nbInput fullWidth id="inputJumlahTop" placeholder="Jumlah Top" [(ngModel)]="fn_jumlah" autocomplete="off">
              </div>

              </div>
               </div>
              </div>
						

    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModalUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
<div *ngIf="openModalUpdate "  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 57vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....." style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Update Top</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					
              <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-md-6">
                  <div class="form-control-group">
                <label class="label" for="inputKodeTop">Kode Top</label>
                <input type="text" nbInput fullWidth id="inputKodeTop" placeholder="Kode Top" [(ngModel)]="fc_kdtop2" >
              </div>

                  <div class="form-control-group">
                <label class="label" for="inputTop">Top</label>
                <input type="text" nbInput fullWidth id="inputTop" placeholder="Top" [(ngModel)]="fv_nmtop2" >
              </div>
                <div class="form-control-group">
                <button nbButton
                      type="button"
                      (click)="update()"
                      status="success"
                      size="large"
                      [nbSpinner]="simpanLoading"
                      nbSpinnerStatus="danger"
                          >
                    Update
                    
                  </button>
              </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                <label class="label" for="inputJumlahTop">Jumlah Top</label>
                <input type="text" nbInput fullWidth id="inputJumlahTop" placeholder="Jumlah Top" [(ngModel)]="fn_jumlah2" autocomplete="off">
              </div>

                </div>
                 </div>
                </div>
            
    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModelUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
