<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <span class="edit" >
          <button
          *ngIf="c"
          nbButton
          (click)="openModalBank()"
          >Tambah</button>
        </span>
        <!-- <span class="edit" >
          <button
          nbButton
          (click)="rerender()"
          >Rerender</button>
        </span> -->
        <br /><br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Kode Bank</th>
              <th>Bank</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody *ngIf="banks?.length != 0">
              <tr *ngFor="let bank of banks; let i = index">
                  <td>{{ bank.fc_kdbank }}</td>
                  <td>{{ bank.fv_bank }}</td>
                  <td >
                    <span class="edit" >
                      <button *ngIf="u" (click)="editBank(bank.fc_kdbank)" title="" data-toggle="modal" data-target="#quick-view-modal" nbButton status="success" size="small">Edit</button>
                    </span>
                    <span class="delete">
                      <button *ngIf="d" (click)="DeleteBank(bank.fc_kdbank)" type="button" nbButton status="danger" size="small">Delete</button>
                    </span>
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="banks?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="isPopup"  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 43vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....."
   style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Input Bank</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					

              <div class="col-md-12">
              <div class="row show-grid">
              <div class="col-md-6">
              <div class="form-control-group">
                <label class="label" for="inputKodeBank">Kode Bank</label>
                <input type="text" nbInput fullWidth id="inputKodeBank" placeholder="KodeBank" [(ngModel)]="KodeBank" [value]="KodeBank" readonly>
              </div>

              <div class="form-control-group">
                <button nbButton
                    type="button"
                    (click)="simpan()"
                    status="success"
                    size="large"
                    [nbSpinner]="simpanLoading"
                    nbSpinnerStatus="danger"
                        >
                  Simpan
                  
                </button>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputBank">Bank</label>
                <input type="text" nbInput fullWidth id="inputBank" placeholder="Bank" [(ngModel)]="fv_bank" autocomplete="off">
              </div>
              </div>
               </div>
              </div>
						

    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModalUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
<div *ngIf="openModalUpdate "  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 43vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....." style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Update Bank</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					
              <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputKodeBank">Kode Bank</label>
                <input type="text" nbInput fullWidth id="inputKodeBank" placeholder="Kode Bank" [(ngModel)]="fc_kdbank2" readonly>
              </div>
                <div class="form-control-group">
                <button nbButton
                      type="button"
                      (click)="update()"
                      status="success"
                      size="large"
                      [nbSpinner]="simpanLoading"
                      nbSpinnerStatus="danger"
                          >
                    Update
                    
                  </button>
              </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                <label class="label" for="inputBank">Bank</label>
                <input type="text" nbInput fullWidth id="inputBank" placeholder="Bank" [(ngModel)]="fv_bank2" autocomplete="off">
              </div>

                </div>
                 </div>
                </div>
            
    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModelUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
