<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Filter Laporan Piutang</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-5">
            <div class="form-control-group">
              <label class="label" for="inputTglAwal">Tanggal Awal</label>
              <input type="date" [(ngModel)]="tglAwal" name="tglAwal" nbInput fullWidth id="inputTglAwal" placeholder="Masukan Tanggal Awal">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-control-group">
              <label class="label" for="inputTglAkhir">Tanggal Akhir</label>
              <input type="date" [(ngModel)]="tglAkhir" name="tglAkhir" nbInput fullWidth id="inputTglAkhir" placeholder="Masukan Tanggal Akhir">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-control-group">
              <label class="label">&nbsp;</label>
              <button (click)="cari()" nbButton status="primary" fullWidth>Filter</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Data Laporan Piutang</nb-card-header>
      <nb-card-body>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>No Faktur Penjualan</th>
              <th>Tanggal</th>
              <th>Customer</th>
              <th>Kota</th>
              <th>Biaya</th>
              
            </tr>
          </thead>
          <tbody *ngIf="laporanPiutang?.length != 0">
              <tr *ngFor="let piutang of laporanPiutang; let i = index">
                  <td>{{ piutang.fc_nofaktur }}</td>
                  <td>{{ piutang.tanggal }}</td>
                  <td>{{ piutang.fv_nama }}</td>
                  <td>{{ piutang.fc_kota }}</td>
                  <td>{{ piutang.fm_selisih}}</td>
                 
              </tr>
          </tbody>
          <tbody *ngIf="laporanPiutang?.length == 0">
            <tr>
              <td colspan="5" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>