<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <span class="edit" >
          <button
          *ngIf="c"
          nbButton
          (click)="openModalBrand()"
          >Tambah</button>
        </span>
        <!-- <span class="edit" >
          <button
          nbButton
          (click)="rerender()"
          >Rerender</button>
        </span> -->
        <br /><br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Kode Brand</th>
              <th>Brand</th>
              <th>Hold</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody *ngIf="brands?.length != 0">
              <tr *ngFor="let brand of brands; let i = index">
                  <td>{{ brand.fc_kdbrand }}</td>
                  <td>{{ brand.fv_nmbrand }}</td>
                  <td>
                    <p *ngIf="brand.fc_hold =='Y'" ><button type="button" nbButton status="success" size="small">Hold</button></p>
                    <p *ngIf="brand.fc_hold =='N'" ><button type="button" nbButton status="danger" size="small">No Hold</button></p>
                  </td>
                  <td >
                    <span class="edit" >
                      <button *ngIf="u" (click)="editBrand(brand.fc_kdbrand)" title="" data-toggle="modal" data-target="#quick-view-modal" nbButton status="success" size="small">Edit</button>
                    </span>
                    <span class="delete">
                      <button *ngIf="d" (click)="DeleteBrand(brand.fc_kdbrand)" type="button" nbButton status="danger" size="small">Delete</button>
                    </span>
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="brands?.length == 0">
            <tr>
              <td colspan="4" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="isPopup"  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 50vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....."
   style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Input Brand</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					

              <div class="col-md-12">
              <div class="row show-grid">
              <div class="col-md-6">
              <div class="form-control-group">
                <label class="label" for="inputKodeBrand">Kode Brand</label>
                <input type="text" nbInput fullWidth id="inputKodeBrand" placeholder="Kode Brand" [(ngModel)]="fc_kdbrand" >
              </div>
              <div class="form-control-group">
                  <label class="label" for="inputHold">Hold</label>
                  <nb-select id="inputHold" fullWidth placeholder="Pilih Status" [(ngModel)]="fc_hold">
                    <nb-option value="Y">Hold</nb-option>
                    <nb-option value="N">No Hold</nb-option>
                  </nb-select>
                </div>
              <div class="form-control-group">
                <button nbButton
                    type="button"
                    (click)="simpan()"
                    status="success"
                    size="large"
                    [nbSpinner]="simpanLoading"
                    nbSpinnerStatus="danger"
                        >
                  Simpan
                  
                </button>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputNamaBrand">Nama Brand</label>
                <input type="text" nbInput fullWidth id="inputNamaBrand" placeholder="Nama Brand" [(ngModel)]="fv_nmbrand" autocomplete="off">
              </div>
              </div>
               </div>
              </div>
						

    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModalUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
<div *ngIf="openModalUpdate "  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 50vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....." style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Update Brand</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					
              <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputKodeBrand">Kode Brand</label>
                <input type="text" nbInput fullWidth id="inputKodeBrand" placeholder="Kode Brand" [(ngModel)]="fc_kdbrand2" readonly>
              </div>
                <div class="form-control-group">
                  <label class="label" for="inputHold">Hold</label>
                  <nb-select id="inputHold" fullWidth placeholder="Pilih Status" [(ngModel)]="fc_hold2">
                      <nb-option value="Y">Hold</nb-option>
                      <nb-option value="N">No Hold</nb-option>
                    </nb-select>
                </div>
                <div class="form-control-group">
                <button nbButton
                      type="button"
                      (click)="update()"
                      status="success"
                      size="large"
                      [nbSpinner]="simpanLoading"
                      nbSpinnerStatus="danger"
                          >
                    Update
                    
                  </button>
              </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                <label class="label" for="inputNamaBrand">Nama Brand</label>
                <input type="text" nbInput fullWidth id="inputNamaBrand" placeholder="Nama Brand" [(ngModel)]="fv_nmbrand2" autocomplete="off">
              </div>

                </div>
                 </div>
                </div>
            
    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModelUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
