<style>
</style>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <span class="edit" >
          <button
          *ngIf="c"
          nbButton
          (click)="openModalSales()"
          >Tambah</button>
        </span>
        <!-- <span class="edit" >
          <button
          nbButton
          (click)="rerender()"
          >Rerender</button>
        </span> -->
        <br /><br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Kode Sales</th>
              <th>Nama Sales</th>
              <th>Email</th>
              <th>Hp</th>
              <th>Status</th>
              <th>Tanggal Aktif</th>
              <th>Tanggal Lahir</th>
              <th>Departement</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody *ngIf="saless?.length != 0">
              <tr *ngFor="let sales of saless; let i = index">
                  <td>{{ sales.fc_salesid }}</td>
                  <td>{{ sales.fv_nama }}</td>
                  <td>{{ sales.fc_email }}</td>
                  <td>{{ sales.fc_hp }}</td>
                  <td>
                    <p *ngIf="sales.fc_aktif =='Y'" ><button type="button" nbButton status="success" size="small">Aktif</button></p>
                    <p *ngIf="sales.fc_aktif =='N'" ><button type="button" nbButton status="danger" size="small">Non Aktif</button></p>
                  </td>
                  <td>{{ sales.fd_tglaktif }}</td>
                  <td>{{ sales.fd_tgllahir }}</td>
                  <td>{{ sales.f_deptname }}</td>
                  <td >
                    <span class="edit" >
                      <button *ngIf="u" (click)="editSales(sales.fc_salesid)"  title="" data-toggle="modal" data-target="#quick-view-modal" nbButton status="success" size="small">Edit</button>
                    </span>
                    <span class="delete" (click)="DeleteSales(sales.fc_salesid)">
                      <button *ngIf="d" type="button" nbButton status="danger" size="small">Delete</button>
                    </span>
                  </td>
              </tr>
          </tbody>
          <tbody *ngIf="saless?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="isPopup"  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 65vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....."
   style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Input Sales</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					

              <div class="col-md-12">
              <div class="row show-grid">
              <div class="col-md-6">
              <div class="form-control-group">
                <label class="label" for="inputKodeSales">Kode Sales</label>
                <input type="text" nbInput fullWidth id="inputKodeSales" placeholder="Kode Sales" [(ngModel)]="KodeSales" [value]="KodeSales" readonly>
              </div>
              <div class="form-control-group">
                <label class="label" for="inputEmail">Email</label>
                <input type="text" nbInput fullWidth id="inputEmail" placeholder="Email" [(ngModel)]="fc_email" autocomplete="off">
              </div>
              <div class="form-control-group">
                  <label class="label" for="inputStatus">Status</label>
                  <nb-select id="inputStatus" fullWidth placeholder="Pilih Status" [(ngModel)]="fc_aktif">
                    <nb-option value="Y">Aktif</nb-option>
                    <nb-option value="N">Non Aktif</nb-option>
                  </nb-select>
                </div>
              <div class="form-control-group">
                  <label class="label" for="inputDepartement">Departement</label>
                  <nb-select id="inputDepartement" fullWidth placeholder="Pilih Departement" [(ngModel)]="f_deptid">
                    <nb-option *ngFor="let departement of Departement" value="{{departement.f_deptid}}">{{departement.f_deptname}}</nb-option>
                  </nb-select>
                </div>

              <div class="form-control-group">
                <button nbButton
                    type="button"
                    (click)="simpan()"
                    status="success"
                    size="large"
                    [nbSpinner]="simpanLoading"
                    nbSpinnerStatus="danger"
                        >
                  Simpan
                  
                </button>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputNama">Nama</label>
                <input type="text" nbInput fullWidth id="inputNama" placeholder="Nama" [(ngModel)]="fv_nama" autocomplete="off">
              </div>
                <div class="form-control-group">
                <label class="label" for="inputNoHp">No Hp</label>
                <input type="text" nbInput fullWidth id="inputNoHp" placeholder="No Hp" [(ngModel)]="fc_hp" autocomplete="off">
              </div>
                <div class="form-control-group">
                <label class="label" for="inputTanggalLahir">Tanggal Lahir</label>
                <input type="date" nbInput fullWidth id="inputTanggalLahir" placeholder="Tanggal Lahir" [(ngModel)]="fd_tgllahir" autocomplete="off">
              </div>
              </div>
               </div>
              </div>
						

    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModalUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>

<div *ngIf="openModalUpdate "  style="position: absolute; top: 16vh; left: 21%; width: 76%; height: 65vh; display: flex; align-items: center; justify-content: center; z-index: 1002;">
  <nb-card [nbSpinner]="loading"
  nbSpinnerStatus="danger"
  nbSpinnerSize="large"
  nbSpinnerMessage="Loading....." style="width: 100%; height: 100%; overflow: hidden; margin: 0;">
    <nb-card-header>Form Update Sales</nb-card-header>
		<nb-card-body style="padding: 1rem;">

					
              <div class="col-md-12">
                <div class="row show-grid">
                <div class="col-md-6">
                <div class="form-control-group">
                <label class="label" for="inputKodeSales">Kode Sales</label>
                <input type="text" nbInput fullWidth id="inputKodeSales" placeholder="Kode Sales" [(ngModel)]="fc_salesid2" readonly>
              </div>
                <div class="form-control-group">
                <label class="label" for="inputEmail">Email</label>
                <input type="text" nbInput fullWidth id="inputEmail" placeholder="Email" [(ngModel)]="fc_email2" autocomplete="off">
              </div>
                <div class="form-control-group">
                  <label class="label" for="inputStatus">Status</label>
                  <nb-select id="inputStatus" fullWidth placeholder="Pilih Status" [(ngModel)]="fc_aktif2">
                      <nb-option value="Y">Aktif</nb-option>
                      <nb-option value="N">Non Aktif</nb-option>
                    </nb-select>
                </div>
                <div class="form-control-group">
                  <label class="label" for="inputDepartement">Departement</label>
                  <nb-select id="inputDepartement" fullWidth placeholder="Pilih Departement" [(ngModel)]="f_deptid2">
                      <nb-option *ngFor="let departement of Departement;let i = index" [value]="departement.f_deptid">{{departement.f_deptname}}</nb-option>
                    </nb-select>
                </div>

                <div class="form-control-group">
                <button nbButton
                      type="button"
                      (click)="update()"
                      status="success"
                      size="large"
                      [nbSpinner]="simpanLoading"
                      nbSpinnerStatus="danger"
                          >
                    Simpan
                    
                  </button>
              </div>
                </div>
                <div class="col-md-6">
                  <div class="form-control-group">
                <label class="label" for="inputNama">Nama</label>
                <input type="text" nbInput fullWidth id="inputNama" placeholder="Nama" [(ngModel)]="fv_nama2" autocomplete="off">
              </div>
                  <div class="form-control-group">
                <label class="label" for="inputNoHp">No Hp</label>
                <input type="text" nbInput fullWidth id="inputNoHp" placeholder="No Hp" [(ngModel)]="fc_hp2" autocomplete="off">
              </div>
                  <div class="form-control-group">
                <label class="label" for="inputTanggalLahir">Tanggal Lahir</label>
                <input type="date" nbInput fullWidth id="inputTanggalLahir" placeholder="Tanggal Lahir" [(ngModel)]="fd_tgllahir2" autocomplete="off">
              </div>
                </div>
                 </div>
                </div>
            
    </nb-card-body>
    <nb-card-footer>
			<button nbButton (click)="hideModelUpdate()">Tutup</button>
		</nb-card-footer>
  </nb-card>
</div>
